<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.breakyizhan.web.dao.GcxCountryNegativeListMapper">
	<resultMap id="BaseResultMap" type="com.breakyizhan.web.model.GcxCountryNegativeList">
		<id column="ID" property="id" jdbcType="INTEGER" />
		<result column="PAPER_ID" property="paperId" jdbcType="VARCHAR" />
		<result column="NAME" property="name" jdbcType="VARCHAR" />
		<result column="REASON" property="reason" jdbcType="VARCHAR" />
		<result column="BASED" property="based" jdbcType="VARCHAR" />
		<result column="DEPARTMENTS" property="departments" jdbcType="VARCHAR" />
		<result column="CLASS1" property="class1" jdbcType="VARCHAR" />
		<result column="CLASS2" property="class2" jdbcType="VARCHAR" />
		<result column="PUNISH_MAN" property="punishMan" jdbcType="VARCHAR" />
		<result column="PUNISH_MAN_CARD" property="punishManCard" jdbcType="VARCHAR" />
		<result column="ORGANIZATION_CODE" property="organizationCode" jdbcType="VARCHAR" />
		<result column="BUSINESS_NUMBER" property="businessNumber" jdbcType="VARCHAR" />
		<result column="SECRURITY_CODE" property="secrurityCode" jdbcType="VARCHAR" />
		<result column="TAX_ID" property="taxId" jdbcType="VARCHAR" />
		<result column="AUTHORMAN" property="authorman" jdbcType="VARCHAR" />
		<result column="RESULT" property="result" jdbcType="VARCHAR" />
		<result column="PENALTY_TIME" property="penaltyTime" jdbcType="TIMESTAMP" />
		<result column="PUBLISH_DATE" property="publishDate" jdbcType="TIMESTAMP" />
		<result column="VALIDITY_DATE" property="validityDate" jdbcType="VARCHAR" />
		<result column="CURRENT_STATE" property="currentState" jdbcType="VARCHAR" />
		<result column="PROVINCE" property="province" jdbcType="VARCHAR" />
		<result column="CITY" property="city" jdbcType="VARCHAR" />
		<result column="AREA" property="area" jdbcType="VARCHAR" />
		<result column="AREA_CARD" property="areaCard" jdbcType="VARCHAR" />
		<result column="PICTURE" property="picture" jdbcType="BLOB" />
		<result column="PICTURE_URL" property="pictureUrl" jdbcType="VARCHAR" />
		<result column="BUSINESS_TYPE" property="businessType" jdbcType="VARCHAR" />
		<result column="CONTENTS" property="contents" jdbcType="VARCHAR" />
		<result column="SOURCE" property="source" jdbcType="VARCHAR" />
		<result column="MDKEY" property="mdkey" jdbcType="VARCHAR" />
		<result column="INSERT_TIME" property="insertTime" jdbcType="TIMESTAMP" />
		<result column="HELP_PIPE" property="helpPipe" jdbcType="VARCHAR" />
		<result column="PENALTY_TIME_VARCHAR" property="penaltyTimeVarchar" jdbcType="VARCHAR" />
		<result column="PENALTY_INTO_EFFECT_VARCHAR" property="penaltyIntoEffectVarchar" jdbcType="VARCHAR" />
		<result column="PENALTY_END_DATE_VARCHAR" property="penaltyEndDateVarchar" jdbcType="VARCHAR" />
		<result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		ID, 
		PAPER_ID, 
		NAME, 
		REASON, 
		BASED, 
		DEPARTMENTS, 
		CLASS1, 
		CLASS2, 
		PUNISH_MAN, 
		PUNISH_MAN_CARD, 
		ORGANIZATION_CODE, 
		BUSINESS_NUMBER, 
		SECRURITY_CODE, 
		TAX_ID, 
		AUTHORMAN, 
		RESULT, 
		PENALTY_TIME, 
		PUBLISH_DATE, 
		VALIDITY_DATE, 
		CURRENT_STATE, 
		PROVINCE, 
		CITY, 
		AREA, 
		AREA_CARD, 
		PICTURE, 
		PICTURE_URL, 
		BUSINESS_TYPE, 
		CONTENTS, 
		SOURCE, 
		MDKEY, 
		INSERT_TIME, 
		HELP_PIPE, 
		PENALTY_TIME_VARCHAR, 
		PENALTY_INTO_EFFECT_VARCHAR, 
		PENALTY_END_DATE_VARCHAR, 
		REMARKS
	</sql>

	<sql id="Common_Where_List">
		<if test='record.punishMan != null and record.punishMan != "" '>
		  and PUNISH_MAN like CONCAT('%',#{record.punishMan,jdbcType=VARCHAR},'%')
        </if>
		<if test='record.type != null and record.type != "" '>
		  and DEPARTMENTS like CONCAT('%',#{record.type,jdbcType=VARCHAR},'%')
        </if>
        <if test='record.province != null and record.province != "" '>
            and PROVINCE =#{record.province,jdbcType=VARCHAR}
        </if>
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from GCX_COUNTRY_NEGATIVE_LIST
		where  1 = 1 AND ID = #{id,jdbcType=INTEGER}
	</select>

	<select id="findAllList" resultMap="BaseResultMap">
		select
            ID,
            PAPER_ID,
            NAME,
            DEPARTMENTS,
            PUNISH_MAN,
            AUTHORMAN,
            PROVINCE,
            INSERT_TIME
		from GCX_COUNTRY_NEGATIVE_LIST where 1=1
		<include refid='Common_Where_List' />
		ORDER BY ID DESC
        <if test="end != -1">
            limit #{start}, #{end}
        </if>
	</select>

	<select id="findByRecordCount" resultType="int">
		select count(1) from GCX_COUNTRY_NEGATIVE_LIST where 1 = 1
		<include refid='Common_Where_List' />
	</select>

    <select id="findCountDate" resultType="java.util.Map">
        SELECT
            COUNT( c.ID ) AS countData,
                (
            SELECT
                count( l.ID )
            FROM
                GCX_COUNTRY_NEGATIVE_LIST l
            WHERE
                DATE_FORMAT( l.INSERT_TIME, '%Y-%m-%d' ) = DATE_FORMAT( NOW( ), '%Y-%m-%d' )
                ) AS today,
                (
            SELECT
                count( k.ID )
            FROM
                GCX_COUNTRY_NEGATIVE_LIST k
            WHERE
                DATE_FORMAT( k.INSERT_TIME, '%Y_%u' ) = DATE_FORMAT( NOW( ), '%Y_%u' )
                ) AS weeks
        FROM
	      GCX_COUNTRY_NEGATIVE_LIST c
    </select>

    <select id="findCountByProvince" resultType="java.util.Map">
        SELECT
            PROVINCE AS name,
            COUNT(1) AS value
        FROM
            GCX_COUNTRY_NEGATIVE_LIST c
            GROUP BY c.PROVINCE
    </select>

    <select id="findCountByType" resultType="com.breakyizhan.web.model.DataClassificationCount">
        SELECT t.name,t.value,t.newData FROM (
        <foreach item="item" index="key" collection="map" open="" separator="UNION ALL" close="">
            SELECT count(*) AS value,#{item} AS name,(
            SELECT
            count( k.ID )
            FROM
            ${key} k
            WHERE
            DATE_FORMAT( k.INSERT_TIME, '%Y' ) = DATE_FORMAT( NOW( ), '%Y' )
            ) AS newData FROM ${key}
        </foreach>
        )t
    </select>

    <select id="findTopFiveData" resultType="com.breakyizhan.web.model.NewDataCategory">
        SELECT t.name,t.newData ,CONCAT( ROUND( ( t.newData - t.value ) / t.value, 0 ), '', '%' ) AS rate  FROM (
        <foreach item="item" index="key" collection="map" open="" separator="UNION ALL" close="">
            SELECT
            #{item} AS name,
            (
            SELECT
            COUNT( c.ID )
            FROM
            ${key} c
            WHERE
            DATE_FORMAT( c.INSERT_TIME, '%Y' ) = (DATE_FORMAT(NOW(),'%Y')-1)
            ) AS value,
            (
            SELECT
            COUNT( ID )
            FROM
            ${key}
            WHERE
            DATE_FORMAT( INSERT_TIME, '%Y' ) = DATE_FORMAT( NOW( ), '%Y' )
            ) AS newData
        </foreach>
        )t ORDER BY t.newData DESC LIMIT 5
    </select>

    <select id="findLatestData" resultMap="BaseResultMap">
      SELECT t.ID,t.NAME,t.INSERT_TIME,t.DEPARTMENTS,t.PUNISH_MAN FROM  GCX_COUNTRY_NEGATIVE_LIST t  ORDER BY INSERT_TIME DESC LIMIT 20
    </select>
</mapper>