<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.breakyizhan.web.dao.ResourceAllMapper" >
  <select id="findAllList" resultType="java.lang.String" >
     select
      t.NAME
      from GCX_COUNTRY_NEGATIVE_LIST t
      order by INSERT_TIME desc
    <if test="pageSize!=-1">LIMIT #{firstResult,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER} </if>
  </select>
</mapper>